
<div class="container">

  <div class="row justify-content-center border-bottom">
    <div class="border rounded bg-light p-3 my-3">
      <h1> New game </h1>
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <h2>Letters:</h2>
  </div>

  <div class="row justify-content-center border-bottom">
    <% @grid.each do |item| %>
      <div class="border rounded bg-light p-3 m-1 my-3">
      <%= item %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <form action="/score" method="post" class="my-3 form-inline">
      <%= hidden_field_tag :grid, @grid %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="word" class="form-control">
      <input type="submit" class="form-control btn-primary">
    </form>
  </div>

</div>

