
<div class="container">

  <div class="row justify-content-center border-bottom">
    <div class="border rounded bg-light p-3 my-3">
      <h1> Game Score </h1>
    </div>
  </div>

  <div class="row justify-content-center my-3">
    <h2> <%= @message %> </h2>
  </div>

  <% if @valid %>
  <div class="row justify-content-center">
    <h2> <%= @score %> </h2>
  </div>
  <% end %>

  <div class="row justify-content-center">
    <h2> <%= @grid %> </h2>
  </div>

</div>
